# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
*.egg
*.egg-info/
data/

# Virtual Environments
.venv/
venv/
ENV/
env/
target/

# Secrets and environment variables
.env
.env.local
*.secrets

# Testing, testing coverage, and profiling
.cache/
.pytest_cache/
.tox/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDEs and Editors (Optional but highly recommended)
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
